/* --- BUTTONS --- */
// Default button styling
.btn, button, #mktFrmSubmit {
	vertical-align: middle;
	font: normal normal normal 13px/33px Arial, Helvetica, sans-serif;
	display: inline-block;
	text-align: center;
	height: 33px;
	padding: 0 20px !important;
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	border: 1px solid #fff;
	@include box-shadow(rgba(0,0,0,0.5) 1px 2px 4px);
	@include border-radius(4px);
	@include text-shadow(rgba(0,0,0,0.4) 0 1px 0);
	&:hover, &:focus {
		cursor: pointer;
		@include transition(background-color 0.2s ease-in-out);
	}
}

// Some button sizing options
.small, #mktFrmSubmit.small {
	@extend .btn;
	height: 20px;
	font-size: 10px;
	line-height: 20px;
}

.big, #mktFrmSubmit.big {
	@extend .btn;
	height: 43px;
	font-size: 18px;
	line-height: 43px;
	padding: 0 30px !important;
}

.inactive, #mktFrmSubmit.inactive {
	opacity: 0.5;
	cursor: not-allowed;
}

/* --- BUTTON COLOR OPTIONS --- */
@mixin btn-color($color, $accent) {
	background-color: $color;
//	@include background(linear-gradient(bottom, scale-lightness($accent,10%), scale-lightness($color,10%)));
	@include background(linear-gradient(bottom, scale-lightness($accent,10%), scale-lightness($color,10%)));
	border-color: $accent;
	&:hover {
		//background-color: scale-lightness($color, -20%);
		@include background(linear-gradient(bottom, scale-lightness($accent, -5%), scale-lightness($color, -5%)));
	}
	&.inactive:hover {
		@include background(linear-gradient(bottom, scale-lightness($accent,10%), scale-lightness($color,10%)));
		cursor: not-allowed;
	}
}

.btn.blue, #mktFrmSubmit.btn.blue {
	@include btn-color($itr-blue, $itr-blue-accent);
}

.btn.orange, #mktFrmSubmit.btn.orange {
	@include btn-color($itr-orange, $itr-orange-accent);
}

.btn.yellow, #mktFrmSubmit.btn.yellow {
	@include btn-color($itr-yellow, $itr-yellow-accent);
}

.btn.green, #mktFrmSubmit.btn.green {
	@include btn-color($itr-green, $itr-green-accent);
}

.btn.red, #mktFrmSubmit.btn.red {
	@include btn-color($itr-red, $itr-red-accent);
}

.btn.purple, #mktFrmSubmit.btn.purple {
	@include btn-color($itr-purple, $itr-purple-accent);
}

.btn.gray, #mktFrmSubmit.btn.gray {
	@include btn-color($itr-gray, $itr-gray-accent);
}