// iTriage B2B Colors

$itr-blue: #009CBB;
$itr-blue-accent: #0C4A5b;

$itr-orange: #F26724;
$itr-orange-accent: #792F18;

$itr-yellow: #FBBF13;
$itr-yellow-accent: #805F21;

$itr-green: #A2C739;
$itr-green-accent: #536A29;

$itr-red: #B9252B;
$itr-red-accent: #66181B;

$itr-purple: #833A8E;
$itr-purple-accent: #3E1E42;

$itr-gray: #909195;
$itr-gray-accent: #58595B;

// Colors for Body

$bdy-light-gray: #efefef;
$bdy-dark-gray: #333;

