html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 44px;
}

.btn, .small, .big, button, input#mktFrmSubmit {
  vertical-align: middle;
  font: normal normal normal 13px/33px "Lato";
  display: inline-block;
  text-align: center;
  height: 33px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}
.btn:hover, .small:hover, .big:hover, .btn:focus, .small:focus, .big:focus, button:hover, button:focus, input#mktFrmSubmit:hover, input#mktFrmSubmit:focus {
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.small {
  height: 20px;
  font-size: 10px;
  line-height: 20px;
}

.big {
  height: 43px;
  font-size: 18px;
  line-height: 43px;
  padding: 0 30px;
}

.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-blue {
  background-color: #009cbb;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #11677f), color-stop(100%, #00b7db));
  background: -webkit-linear-gradient(bottom, #11677f, #00b7db);
  background: -moz-linear-gradient(bottom, #11677f, #00b7db);
  background: -o-linear-gradient(bottom, #11677f, #00b7db);
  background: linear-gradient(bottom, #11677f, #00b7db);
  border-color: #0c4a5b;
}
.btn-blue:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #0b4656), color-stop(100%, #0094b2));
  background: -webkit-linear-gradient(bottom, #0b4656, #0094b2);
  background: -moz-linear-gradient(bottom, #0b4656, #0094b2);
  background: -o-linear-gradient(bottom, #0b4656, #0094b2);
  background: linear-gradient(bottom, #0b4656, #0094b2);
}
.btn-blue.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #11677f), color-stop(100%, #00b7db));
  background: -webkit-linear-gradient(bottom, #11677f, #00b7db);
  background: -moz-linear-gradient(bottom, #11677f, #00b7db);
  background: -o-linear-gradient(bottom, #11677f, #00b7db);
  background: linear-gradient(bottom, #11677f, #00b7db);
  cursor: not-allowed;
}

.btn-orange {
  background-color: #f26724;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #973b1e), color-stop(100%, #f3763a));
  background: -webkit-linear-gradient(bottom, #973b1e, #f3763a);
  background: -moz-linear-gradient(bottom, #973b1e, #f3763a);
  background: -o-linear-gradient(bottom, #973b1e, #f3763a);
  background: linear-gradient(bottom, #973b1e, #f3763a);
  border-color: #792f18;
}
.btn-orange:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #732d17), color-stop(100%, #f15e17));
  background: -webkit-linear-gradient(bottom, #732d17, #f15e17);
  background: -moz-linear-gradient(bottom, #732d17, #f15e17);
  background: -o-linear-gradient(bottom, #732d17, #f15e17);
  background: linear-gradient(bottom, #732d17, #f15e17);
}
.btn-orange.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #973b1e), color-stop(100%, #f3763a));
  background: -webkit-linear-gradient(bottom, #973b1e, #f3763a);
  background: -moz-linear-gradient(bottom, #973b1e, #f3763a);
  background: -o-linear-gradient(bottom, #973b1e, #f3763a);
  background: linear-gradient(bottom, #973b1e, #f3763a);
  cursor: not-allowed;
}

.btn-yellow {
  background-color: #fbbf13;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #9c7428), color-stop(100%, #fbc52b));
  background: -webkit-linear-gradient(bottom, #9c7428, #fbc52b);
  background: -moz-linear-gradient(bottom, #9c7428, #fbc52b);
  background: -o-linear-gradient(bottom, #9c7428, #fbc52b);
  background: linear-gradient(bottom, #9c7428, #fbc52b);
  border-color: #805f21;
}
.btn-yellow:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #7a5a1f), color-stop(100%, #fbbb06));
  background: -webkit-linear-gradient(bottom, #7a5a1f, #fbbb06);
  background: -moz-linear-gradient(bottom, #7a5a1f, #fbbb06);
  background: -o-linear-gradient(bottom, #7a5a1f, #fbbb06);
  background: linear-gradient(bottom, #7a5a1f, #fbbb06);
}
.btn-yellow.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #9c7428), color-stop(100%, #fbc52b));
  background: -webkit-linear-gradient(bottom, #9c7428, #fbc52b);
  background: -moz-linear-gradient(bottom, #9c7428, #fbc52b);
  background: -o-linear-gradient(bottom, #9c7428, #fbc52b);
  background: linear-gradient(bottom, #9c7428, #fbc52b);
  cursor: not-allowed;
}

.btn-green {
  background-color: #a2c739;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #678433), color-stop(100%, #abcd4d));
  background: -webkit-linear-gradient(bottom, #678433, #abcd4d);
  background: -moz-linear-gradient(bottom, #678433, #abcd4d);
  background: -o-linear-gradient(bottom, #678433, #abcd4d);
  background: linear-gradient(bottom, #678433, #abcd4d);
  border-color: #536a29;
}
.btn-green:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #4f6527), color-stop(100%, #9abe36));
  background: -webkit-linear-gradient(bottom, #4f6527, #9abe36);
  background: -moz-linear-gradient(bottom, #4f6527, #9abe36);
  background: -o-linear-gradient(bottom, #4f6527, #9abe36);
  background: linear-gradient(bottom, #4f6527, #9abe36);
}
.btn-green.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #678433), color-stop(100%, #abcd4d));
  background: -webkit-linear-gradient(bottom, #678433, #abcd4d);
  background: -moz-linear-gradient(bottom, #678433, #abcd4d);
  background: -o-linear-gradient(bottom, #678433, #abcd4d);
  background: linear-gradient(bottom, #678433, #abcd4d);
  cursor: not-allowed;
}

.btn-red {
  background-color: #b9252b;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #851f23), color-stop(100%, #d12a31));
  background: -webkit-linear-gradient(bottom, #851f23, #d12a31);
  background: -moz-linear-gradient(bottom, #851f23, #d12a31);
  background: -o-linear-gradient(bottom, #851f23, #d12a31);
  background: linear-gradient(bottom, #851f23, #d12a31);
  border-color: #66181b;
}
.btn-red:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #61171a), color-stop(100%, #b02329));
  background: -webkit-linear-gradient(bottom, #61171a, #b02329);
  background: -moz-linear-gradient(bottom, #61171a, #b02329);
  background: -o-linear-gradient(bottom, #61171a, #b02329);
  background: linear-gradient(bottom, #61171a, #b02329);
}
.btn-red.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #851f23), color-stop(100%, #d12a31));
  background: -webkit-linear-gradient(bottom, #851f23, #d12a31);
  background: -moz-linear-gradient(bottom, #851f23, #d12a31);
  background: -o-linear-gradient(bottom, #851f23, #d12a31);
  background: linear-gradient(bottom, #851f23, #d12a31);
  cursor: not-allowed;
}

.btn-purple {
  background-color: #833a8e;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #592b5e), color-stop(100%, #9743a4));
  background: -webkit-linear-gradient(bottom, #592b5e, #9743a4);
  background: -moz-linear-gradient(bottom, #592b5e, #9743a4);
  background: -o-linear-gradient(bottom, #592b5e, #9743a4);
  background: linear-gradient(bottom, #592b5e, #9743a4);
  border-color: #3e1e42;
}
.btn-purple:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #3b1c3f), color-stop(100%, #7c3787));
  background: -webkit-linear-gradient(bottom, #3b1c3f, #7c3787);
  background: -moz-linear-gradient(bottom, #3b1c3f, #7c3787);
  background: -o-linear-gradient(bottom, #3b1c3f, #7c3787);
  background: linear-gradient(bottom, #3b1c3f, #7c3787);
}
.btn-purple.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #592b5e), color-stop(100%, #9743a4));
  background: -webkit-linear-gradient(bottom, #592b5e, #9743a4);
  background: -moz-linear-gradient(bottom, #592b5e, #9743a4);
  background: -o-linear-gradient(bottom, #592b5e, #9743a4);
  background: linear-gradient(bottom, #592b5e, #9743a4);
  cursor: not-allowed;
}

.btn-gray {
  background-color: #909195;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #68696c), color-stop(100%, #9b9ca0));
  background: -webkit-linear-gradient(bottom, #68696c, #9b9ca0);
  background: -moz-linear-gradient(bottom, #68696c, #9b9ca0);
  background: -o-linear-gradient(bottom, #68696c, #9b9ca0);
  background: linear-gradient(bottom, #68696c, #9b9ca0);
  border-color: #58595b;
}
.btn-gray:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #545556), color-stop(100%, #898a8e));
  background: -webkit-linear-gradient(bottom, #545556, #898a8e);
  background: -moz-linear-gradient(bottom, #545556, #898a8e);
  background: -o-linear-gradient(bottom, #545556, #898a8e);
  background: linear-gradient(bottom, #545556, #898a8e);
}
.btn-gray.inactive:hover {
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #68696c), color-stop(100%, #9b9ca0));
  background: -webkit-linear-gradient(bottom, #68696c, #9b9ca0);
  background: -moz-linear-gradient(bottom, #68696c, #9b9ca0);
  background: -o-linear-gradient(bottom, #68696c, #9b9ca0);
  background: linear-gradient(bottom, #68696c, #9b9ca0);
  cursor: not-allowed;
}
